#zdj_gl{
    background-color: #23262b;
    height:auto;
    width:75%;
    margin-left:auto;
    margin-right: auto;
    padding: 1%;
}
table{
    width:100%;
    height: 100%;
}
td{
    border:black 5px solid;
    width:50%;
    height:50%;
}
.zdj{
width:100%;
margin-left:0;
margin-top:auto;
margin-bottom:auto;
}
