body{
    background-color:#81B4FB;
    margin:0;
    font-family: 'Lato', sans-serif;
    height:100%;
}
#naglowek{
    background-image:url("../obrazy/tlo4.png");
    width:100%;
    height:150px;
    border-bottom: darkblue 5px solid;
    display: inline-block;
    padding-top: 30px;
}
#logo{
    color:#65FDA2;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    letter-spacing: 10px;
    text-shadow: 5px 2px black;


}
#siedem{
    font-size: 120px;
    float:left;
    margin:0;
    padding:0;
    height:100px;
    position:relative;
    top:-20px;
    color:#226CE6;

}
#cudow{
    font-size: 50px;
    height:100px;
    padding:0;
    margin:0;
    line-height: 50px;
}

#menu{
    background-color:#226CE6;
    width:100%;
    height:40px;
    padding: 5px 0;
    text-align: center;

    
}
#menu > ol{
    padding:0;
    margin:0;
    list-style-type: none;
    font-size: 30px;
    display:inline-block;
}
ol a{
    color:black;
    text-decoration: none;
    display: block;
}
ol>li{
    float:left;
    width:270px;
    border-right: #2727ab solid 2px;
    border-left: #2727ab solid 2px;
    text-align: center;
}

ol>li:hover{
    background-color: #82c5ff;
    border: #2727ab solid 1px;
}
ol>li>ul{
    display:none;
    list-style-type: none;
    padding:0;
    margin:0;
    
}
ol>li>ul>li{
    border-top: #2727ab dashed 1px;
    background-color: #82c5ff;
    position: relative;
    z-index: 50;
    font-size:70%;
    height:30px;
    padding:10px 0;
}
ol>li:hover>ul{
    display:block;

}
ol>li>ul>li:hover{
    background-color:#3b88cc;
}
.rozwin{
    height: 30px;
    width: auto;
    float:right;
}
#menu_boczne{
    background-color:#226CE6;
    width:16%;
    height:100%;
    font-weight:bold;
    font-size:30px;
    float:left;
}
#linki{
    width:100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 200%;
}
#footer{
    background-color: darkblue;
    color:white;
    height:50px;
    text-align: center;
    clear:both;
}
#tresc{
    margin-left: 20%;
    width:80%;
    height:auto;
    font-size:30px;
    text-align: left;
    z-index: 1;
    margin-top: 3%;
}
.wypelnienie{
    height:100%;
    width:100%;
}
.okno{
    width: 15%;
    height: 200px;
    background-color:darkblue;
    float:left; 
    margin-left:8%;
    margin-top:50px;
}
.tytul_okna{
    font-size:20px;
    color:white;
    background-color: darkblue;
}

.okno:hover >.tytul_okna > .opis_okna{
    display: block;
}
.okno_2:hover >.tytul_okna > .opis_okna{
    display: block;
}
.opis_okna{
    display:none;
    height:50px;
}
#upo1{
    border-left: #2727ab solid 4px;
}
#upo2{
    border-right: #2727ab solid 4px;
}
.upo3{
    margin-left: 19.5%;
}
#upo4{
    font-size:70%; font-weight: normal;
}
.o1{
    background-image: url(../obrazy/piramida.png);
}
.o2{
    background-image: url(../obrazy/ogrody.png);
}

.o3{
    background-image: url(../obrazy/swiatynia.png);
}

.o4{
     background-image: url(../obrazy/posag.png);
}

.o5{
    background-image: url(../obrazy/mauzoleum.png);
}

.o6{
    background-image: url(../obrazy/kolos.png);
}

.o7{
    background-image: url(../obrazy/latarnia.png);
}
#telefon{
    display:none;
}
#linki>ul>li>a{
    color:darkblue;
}